*{
    direction: rtl;
    padding: 0px;
    margin: 0;
    background-color: rgb(206, 168, 136);
}
nav ul li{
    display: inline;
    float: left;
    padding: 30px;
    font-weight: 600;
}
nav ul li a:hover{
    color: yellow;      
}
h1{
    padding: 20px;
    left: 15px;
    font-weight: 900;
}
h1 span{
    color: yellow;
}
section{
    width: 223px;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
    float: right;
    
}
img{
    width: 170px;
}
a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(141, 113, 61);
    border-radius: 15px;
    font-weight: bold;
    padding: 15px;
}
a:hover{
    color: yellow;
}
p{
    font-size: 18px;
}
figure{
    padding: 20px;
}
figure img{
    width: 350px;
    float: right;
    padding: 40px;
}
figure h1{
    color: #fff;
}
figure h2{
    color: yellow;
}
figure p{
    padding: 28px;
    margin-bottom: 28px;
}
h1.b{
    color: yellow;
    margin-top: 35px;
}
figure a{
    padding: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
form{
    padding: 30px;
    margin: 0 35px 20px 35px;
    border: 2px solid rgb(180, 145, 117);
    box-sizing: 2px 5px 8px 6px rgb(180,145,117);
}
form input{
    width: 80%;
text-align: center;
padding: 13px;
background-color: #fff;
border-radius: 17px;
}
form textarea{
    width: 80%;
    background-color: #fff;
    border-radius: 18px;
    resize: none;
    font-weight: bold;
}
form input[type="submit"]{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(155, 119, 90);
}
form input[type="submit"]:hover{
color: yellow;
}
footer{
    clear: both;
    padding: 10px;
    text-align: center;
}
#s1{display: flexbox;
    
}
#s2{
    position :absolute ;
    right: 270px;
    display: grid;
}
#s3{position :absolute ;
    right: 520px;
    display: grid;
}
#s4{position :absolute ;
    right: 790px;
    display: grid;
}
#s5{
    position :absolute ;
    right: 1060px;
    display: grid;

}
table{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}
 th,td{
    border: 1px solid #000;
}
th{
    background-color: black ;
    color: blanchedalmond;
}
@keyframes h1
{
    form { background-color: #000}
    to{
        background-color: #fff;
    }
}

.h1{
    text-align: center;
    align-items: center;
    animation-name: h1;
    animation-duration:3s;
    clear: both;
    text-decoration:none;
    color: #000;
    margin-right: 550px;
    font-weight: bolder;
    box-shadow: 5px 5px 5px black;
    background-color: #000;
    border-radius: 5px;
    padding: 5px;
}
